@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  .subtitle
    font-size: 23px!important
  .question
    margin-top: 0
  .gallery .cart span
    font-size: 20px
    margin-left: 20px
  .gallery
    .cart
      margin: 20px 0
      width: auto
  .jaluz
    background: none
  .why
    background: none
  .title
    font-size: 34px!important
    padding: 0 20px
    span
      font-size: 23px
  header
    padding: 30px 0 30px
    h2
      &::before, &::after
        content: none
  .navbar-light .navbar-toggler
    background: $yellow
  .akcii .boxes .big-box
    padding: 30px 30px
  .akcii .boxes p
    padding-left: 0
  .btn-orange
    width: 80%
  .gallery .cart, .product .cart
    width: auto
    text-align: center
    padding-top: 207px
    span
      font-size: 17px
  .product .larg-cart
    text-align: center
    padding-top: 475px
    span
      font-size: 17px
  .product .product-jaluz
    padding-bottom: 50px
  .why .tab-pane h4
    font-size: 45px
  .why .tab-pane p
    font-size: 15px
  .why
    padding: 0
  .why .nav-item
    width: 47%
    margin: 5px 0
  .nav-link.active
    transform: unset!important
    &::after
      display: none
  .pos1, .pos2
    transform: unset
    text-align: center
  .mt150
    margin-top: 0
  .next-yellow
    font-size: 13px
  .why .nav-item h3
    font-size: 22px
  .why .nav-item p
    font-size: 11px
  .why .nav-item .fas
    font-size: 11px
  .slider
    padding: 30px 0
  .slider .swiper-2 img
    width: 60%
  footer
    padding: 30px 40px
  .contacts p
    font-size: 14px
  .btn-orange
    font-size: 12px
  header form .btn-main
    font-size: 13px
  .whats
    left: 25%
    bottom: -11%
  .insta
    right: 25%
    bottom: -10%
  .akcii
    width: 100%
    overflow-x: hidden
    header
      background-size: cover
    .first-p, .boxes, .akcii-bot
      padding: 30px 0
    .first-p
      p
        font-size: 15px
    .boxes
      h2
        font-size: 40px
      p
        font-size: 15px
        padding: 0 10px
        margin-top: 20px
  .contact .map
    background-size: auto
  .item
    .boxes
      h2
        transform: unset
      h3
        font-size: 40px
        transform: unset
        text-align: center
    .advantages
      p
        font-size: 18px
        padding: 10px 0
  .pt100
    padding-top: 30px
  .production .why
    padding-bottom: 30px
    background: none
  .w400
    display: unset
  .navbar-nav
    z-index: 111111
    position: relative
  .akcii
    .swiper-slide
      text-align: center
      padding: 50px
    .sbn2, .sbp2
      transform: unset!important
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)


// ≤1200px
+media-breakpoint-up(xl)
