@import "vars"
@import "fonts"
@import "libs"

html
  overflow-x: hidden !important
  height: 100%
  scroll-behavior: smooth
.title
  color: $yellow
  font-family: bebasbold
  font-size: 40px
.subtitle
  font-size: 35px
  font-family: bebasbold
  font-weight: bold
  text-align: center
.btn-orange
  background: $yellow
  color: white
  font-size: 30px
  font-family: bebasbold
  padding: 10px 50px
  width: 50%
  margin: 0 auto
  &:hover
    text-decoration: none
    color: black
    transition: .4s ease
nav
  background: transparent
  a
    color: black!important
    font-family: "Bebas Neue Regular"
    font-weight: bold
    font-size: 25px
    &:hover
      text-decoration: none
      color: $yellow!important
      transition: .4s ease

header
  background-image: url("../img/bg-dark.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding: 20px 0 73px
  h5
    font-size: 22px
    font-family: "Bebas Neue Regular"
    font-weight: bold
    margin-top: 35px
    color: white
  .btn-orange
    padding: 0 10px
    font-size: 22px
    font-weight: bold
  .border-yellow
    border-bottom: 2px solid $yellow!important
  p
    color: white
    font-family: "Bebas Neue Regular"
    font-size: 25px
    line-height: 1.2
  h2
    font-size: 20px
    text-transform: uppercase
    color: white
    font-weight: bold
    font-family: MB-regular
    margin-top: 40px
    position: relative
    span
      color: $yellow
  h3
    font-size: 40px!important
    letter-spacing: 0
    font-family: "Bebas Neue Regular"
    font-weight: bold
    line-height: 0.9
    span
      font-size: 40px
  input
    width: 65%
    padding: 10px
    border: 4px solid white
    background: transparent
  ::placeholder
    color: white
    font-family: "Bebas Neue Regular"
    letter-spacing: 1px
  form
    text-align: center
    justify-content: center
    p
      font-size: 13px
      color: white
      text-transform: uppercase
      font-family: "Bebas Neue Regular"
      margin-top: 10px
    .btn-main
      width: 40%
      padding: 10px
      background: #fef6eb
      font-family: bebasbold
      border: none
      color: $yellow
      font-size: 20px
.why
  background-image: url("../img/why-bg.png")
  background-position: top left
  background-size: 100% 50%
  padding: 30px 0
  background-repeat: no-repeat
  .subtitle
    span
      font-weight: normal
.gallery, .product
  .cart
    width: 363px
    height: 239px
    padding-top: 190px
    padding-right: 10px
    span
      font-size: 30px
      font-family: "Bebas Neue Regular"
      font-weight: bold
    &-1
      background-image: url("../img/gate1.png")
      background-repeat: no-repeat
      background-position: center
    &-2
      background-image: url("../img/gate2.png")
      background-repeat: no-repeat
      background-position: center
    &-3
      background-image: url("../img/gate3.png")
      background-repeat: no-repeat
      background-position: center
    &-4
      background-image: url("../img/gate4.png")
      background-repeat: no-repeat
      background-position: center
    &-5
      background-image: url("../img/jaluz1.png")
      background-repeat: no-repeat
      background-position: center
.jaluz
  background-image: url("../img/jaluz-bg.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center
.slider
  padding: 50px
  .swiper-2
    img
      width: 70%
      display: block
      margin: auto
    .swiper-slide-next
      img
        width: 80%
    .sbp2
      background-image: url("../img/prev-orange.png")
      background-repeat: no-repeat
    .sbn2
      background-image: url("../img/next-orange.png")
      background-repeat: no-repeat
  .subtitle
    span
      font-weight: normal
.certificates
  background-image: url("../img/certificates-bg.png")
  background-position: top
  background-repeat: no-repeat
  background-size: 100% 80%
  .swiper-1
    img
      width: 70%
      display: block
      margin: auto
    .swiper-slide-next
      img
        width: 80%
    .sbp1
      background-image: url("../img/prev-white.png")
      background-repeat: no-repeat
    .sbn1
      background-image: url("../img/next-white.png")
      background-repeat: no-repeat
.question
  background-image: url("../img/question-bg.png")
  background-repeat: no-repeat
  position: relative
  background-size: cover
  padding: 10px 0 50px
  margin-top: 100px
  .girl
    position: absolute
    bottom: 0
    width: 40%
    left: 22%
.contacts
  padding: 30px 0 80px
  background: #f6f7f7
  .fa
    font-size: 30px
    color: $yellow
  p
    font-family: bebasregular
    text-transform: uppercase
    font-size: 20px
footer
  padding: 60px 80px
  a, p
    color: black
    font-family: "Bebas Neue Regular"
    text-transform: uppercase
    font-weight: bold
  a
    margin: 0 5px
    &:hover
      text-decoration: none
      color: $yellow
      transition: .4s ease
.contact
  header
    padding: 0
    background-image: url("../img/contact-bg.png")
    background-repeat: no-repeat
    h1
      color: white
      text-align: center
      padding-top: 30px
      padding-bottom: 30px
    .header-bottom
      color: $yellow
      text-align: center
      padding-top: 100px
      padding-bottom: 30px
  .map
    background-image: url("../img/map-bg.png")
    background-size: cover
    .title
      text-align: center
      padding: 50px 0
.akcii
  .first-p
    padding: 60px 0
    background-image: url("../img/akcii-p-bg.png")
    background-repeat: no-repeat
    background-size: cover
    p
      font-family: bebasregular
      text-align: center
      font-size: 22px
  .title
    font-size: 30px
    text-align: center
  .subtitle
    font-size: 45px
  header
    padding: 23px 0
    background-image: url("../img/akci-bg.png")
    background-repeat: no-repeat
    background-size: 100% 100%
    height: 100vmin
  .boxes
    padding: 60px 0
    h2
      text-transform: uppercase
      font-size: 100px
      color: #f7e3d1
      text-align: center
      font-family: bebasbold
      font-weight: bold
    p
      text-align: center
      margin-top: 60px
      text-transform: uppercase
      font-family: bebasbold
      font-weight: bold
      font-size: 18px
  .akcii-bot
    background-image: url("../img/akcii-bot-bg.png")
    background-size: 100% 100%
    padding: 60px 0
    p
      font-family: "Bebas Neue Regular"
      font-weight: bold
.product
  header
    background-image: url("../img/product-g.png")
  .larg-cart
    width: 100%
    height: 511px
    padding-top: 450px
    padding-right: 10px
    span
      font-size: 30px
      font-family: "Bebas Neue Regular"
      font-weight: bold
    &--1
      background-image: url("../img/big-gate.png")
      background-repeat: no-repeat
    &--2
      background-image: url("../img/big-jaluz.png")
      background-repeat: no-repeat
  .product-jaluz
    background-image: url("../img/product-bg2.png")
    background-repeat: no-repeat
    background-position: bottom
    background-size: 100%
    padding-bottom: 200px
  .question
    margin-top: 0

.why
  a:hover
    text-decoration: none
    .next-yellow
      color: black
      transition: .4s ease
  nav
    background: transparent
  .nav-item
    text-align: center
    padding: 0
    width: 25%
    background-image: url("../img/sand-bg.png")
    opacity: 0.5
    img
      border: 6px solid white
    h3
      font-size: 24px
      text-transform: uppercase
      font-family: bebasbold
      font-weight: bold
      color: $yellow
    p
      text-transform: uppercase
      font-size: 14px
      color: black
      font-family: bebasbold
      font-weight: bold
      line-height: 1
    .fas
      color: $yellow
  .nav-link:hover
    transform: scale(1.1)
    transition: 1s ease
    background-image: url("../img/sand-bg.png")
    opacity: 1
    z-index: 111111
    img
      border: 6px solid $yellow
      transition: .4s ease
    //&::after
      width: 100%
      height: 0
      border-left: 135px solid transparent
      border-right: 135px solid transparent
      border-top: 50px solid #f1f0f0
      position: absolute
      content: ''
      bottom: -13.5%
      left: 0
  .nav-link.active
    opacity: 1

  .tab-pane
    h4
      font-size: 84px
      color: #ffe9d1
      font-family: bebasbold
      font-weight: bold
    p
      font-family: bebasbold
      font-weight: bold
      font-size: 18px
.next-yellow
  color: $yellow

.navbar-nav
  background: #cfcfce
.why-2
  background-image: url("../img/jaluz-bg.png")
  background-position: right bottom
  background-size: contain
.navbar-toggler
  background-image: url("../img/logo.png")
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  transform: scale(1.6)
.pos1
  transform: translateX(-100px)
  z-index: -1
.pos2
  transform: translateX(70%)
  z-index: -1
.z1111
  z-index: 111111
.mt150
  margin-top: 150px
.pb150
  padding-bottom: 150px
.jaluz-2
  height: 85%
  width: 100%
.hsm
  height: 20px!important
  width: 130px
.logo
  position: absolute
  bottom: -100%
  left: 37%
.whats
  right: -5%
.insta
  right: -10%
.item
  header
    background-image: url("../img/gor-jaluz-bg.png")
  .akcii-bot
    background-image: url("../img/product-g.png")
  .boxes
    padding: 0
    h2
      transform: translate(-20%, 40%)
    h3
      text-transform: uppercase
      font-size: 100px
      color: #f7e3d1
      font-family: "Bebas Neue Regular"
      font-weight: bold
      transform: translateX(10%)
    img
      position: relative
      z-index: 11111
    .sbn2
      transform: translateX(-100px)
    .sbp2
      transform: translateX(100px)
    p
      padding-top: 60px
  .advantages
    padding: 30px 0
    background-image: url("../img/jaluz-bg.png")
    background-repeat: no-repeat
    background-size: cover
    h4
      text-align: center
      text-transform: uppercase
      font-size: 40px
      color: #f7961e
      font-family: "Bebas Neue Regular"
      font-weight: bold
      margin-bottom: 30px
    p
      text-align: center
      text-transform: uppercase
      font-size: 25px
      color: #f7961e
      font-family: "Bebas Neue Regular"
      font-weight: bold
.swiper-button-prev
  background-image: url("../img/prev-orange.png")
.swiper-button-next
  background-image: url("../img/next-orange.png")
.swiper-pagination-bullet
  background: red
.ver-jaluz
  header
    background-image: url("../img/ver-jaluz.png")
.daynight
  header
    background-image: url("../img/day-night-bg.png")
.roll
  header
    background-image: url("../img/roll-bg.png")
.rolstavn
  header
    background-image: url("../img/rolstavn-bg.png")
.wlagbaum
  header
    background-image: url("../img/wlagbaum-bg.png")
.avtomatika
  header
    background-image: url("../img/avtomatika-bg.png")
.section-gate
  header
    background-image: url("../img/section-gate-bg.png")
.pt100
  padding-top: 100px
.w400
  width: 40vw
  display: flex
  justify-content: space-around
  align-items: center
.partners
  header
    background-image: url("../img/partners-bg.png")
  .boxes
    h2
      font-size: 40px
      color: #f7961e
  .thanks
    background-image: url("../img/akcii-bot-bg.png")
    background-size: cover
    background-repeat: no-repeat
.production
  header
    background-image: url("../img/production-bg.png")
    height: 100vmin
  .why
    background-image: url("../img/production-bg-2.png")
    background-size: 100% 100%
    padding-bottom: 150px
  .why-2
    background-image: url("../img/production-bg-1.png")
    background-size: 100% 100%
.works
  header
    background-image: url("../img/works-bg.png")
  .portfolio
    padding: 60px 0
    background-image: url("../img/akcii-p-bg.png")
    background-size: contain
    background-repeat: no-repeat
.gallery-title
  font-size: 36px
  color: #42B32F
  text-align: center
  font-weight: 500
  margin-bottom: 70px
  text-transform: uppercase
  &:after
    content: ""
    position: absolute
    width: 7.5%
    left: 46.5%
    height: 45px
    border-bottom: 1px solid #5e5e5e
.filter-button
  font-size: 18px
  background: none
  text-align: center
  color: white
  margin-bottom: 30px
  text-transform: uppercase
  font-family: bebasbold
  p
    display: none
  .white
    display: none
  &:hover
    transition: .4s ease
    border-radius: 5px
    text-align: center
    color: #ffffff
    background-color: $yellow
    p
      display: block
      margin-bottom: 0
      margin-top: 10px
      font-size: 18px
    .white
      display: block
    .orange
      display: none
.btn-default:active .filter-button:active
  background-color: #42B32F
  color: white
.port-image
  width: 100%
.gallery_product
  margin-bottom: 30px
.yellow
  color: $yellow
.f30
  font-size: 30px
.swiper-button-prev, .swiper-slide-next
  outline: none
.pergo
  header
    background-image: url("../img/pergo/img (7).jpg")
.terras
  header
    background-image: url("../img/terass/img (8).jpg")
.blackout
  header
    background-image: url("../img/blackout/img (4).jpg")
.reshetki
  header
    background-image: url("../img/reshetki/img (2).jpg")
.why-3
  background: unset!important
.links
  a
    text-decoration: none
    color: white
    &:hover
      color: $yellow
      transition: .4s ease
  .fab
    font-size: 25px

@import "media" // Always at the end
